<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" class="container"
    fxLayout="column"
    fxLayoutGap="10px" *ngIf="dish" [@visibility]="visibility">
    <mat-list fxFlex >
    <h3>Comments</h3>
      <mat-list-item *ngFor="let c of dish.comments">
        <h4 matLine> {{c.comment}} </h4>
        <p matLine> {{c.rating}} Stars</p>
        <p matLine> 
          <span>-- {{c.author}} {{c.date | date}}</span>
        </p>
      </mat-list-item>

      <div [hidden]="commentForm.invalid">
        <br>
        <h4>New Comment Preview</h4>
        <hr>
        <mat-list-item>
          <h4 matLine> {{commentForm.value.comment}} </h4>
          <p matLine> {{commentForm.value.rating}} Stars</p>
          <p matLine> 
            <span>-- {{commentForm.value.author}} {{commentForm.value.date | date}}</span>
          </p>
        </mat-list-item>
      </div>
    </mat-list>

    <div>
      <h3>Create a new comment</h3>
      <hr>
      <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width">
            <input matInput  formControlName='author' placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
          </mat-form-field>  
        </p>
          <mat-slider thumbLabel formControlName='rating' tickInterval="1" min="1" max="5" step="1" value="5">
          </mat-slider>
          <!-- <mat-error *ngIf="formErrors.rating">{{ formErrors.rating }}</mat-error> -->
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName='comment' placeholder="Your Comment" type="text" rows=12 required></textarea>
            <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
          </mat-form-field>
        </p>
        <button type="submit" mat-raised-button color="primary"[disabled]="commentForm.invalid">
          Submit
        </button>
      </form>
    </div>
  </div> 

  <div fxFlex [hidden]='dish || errMsg'>
    <mat-spinner></mat-spinner><h4>Loading... Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>

</div>

